.flashMessageContainer,
.toastContainer {
	position: fixed;
	width: 300px;
	right: $gutter*2;
	top: 104px;
}

.flashMessage,
.toast {
	@extend .card;

	margin-bottom: $baseline/2;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
	z-index: 4;
	cursor: default;
}