.modalOverlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: $modal-overlay-background;
	padding: $modal-overlay-padding;
	text-align: center;
	overflow-y: auto;
	z-index: $modal-overlay-zIndex;
}

.modalOverlay:after {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.modal {
	display: inline-block;
	position: relative;
	background: $modal-background;
	text-align: left;
	vertical-align: middle;
	padding: $modal-padding;
	min-height: $modal-minHeight;
	min-width: $modal-minWidth;
	max-width: $modal-maxWidth;
	border-radius: $modal-border-radius;
    transform: translate3d(0, 0, 0);
	box-shadow: $modal-shadow;
    outline: none;
}

.modal-close {
	position: absolute;
	top: 20px;
	right: 20px;
}