.nav {
	position: fixed;
}

.nav-item {
	display: block;
	padding: $baseline/6 $gutter/2;
	text-decoration: none;
	color: $color-text;
	border-radius: $borderRadius;
}

.nav-item:hover {
	background: #e7e7e7;
	text-decoration: none;
}

.nav-item.is-active {
	background: $color-primary;
	color: $white;
}

.nav-item .fa {
	width: rem(35px);
	padding-right: $gutter;
}

.nav-item .fa:before {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 999rem;
}

.nav-itemSeparator {
	margin: $baseline 0;
}

.nav-categoryTitle {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: $fontSize-smaller;
	color: #6e6e6e;
	margin-bottom: $baseline/2;
	cursor: default;
}