.table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

tbody .table-row {
	border-top: 1px solid $color-border;
	border-bottom: 1px solid $color-border;
}

tbody .table-row.table-row--clickable {
	cursor: pointer;
}

tbody .table-row.table-row--clickable:hover td {
	border-top: 1px solid lighten($color-primary, 20%);
	border-bottom: 1px solid lighten($color-primary, 20%);
	background: lighten($color-primary, 45%);
}

.table th {
	font-weight: 600;
}

.table th.is-active {
	color: $color-primary;
}

.table th,
.table td {
	padding: $baseline/1.5 $gutter/2;
}

.table th:first-of-type,
.table td:first-of-type {
	padding-left: $gutter;
}

.table th:last-of-type,
.table td:last-of-type {
	padding-right: $gutter;
}

/**
 * Condensed modifier
 */

.table.table--condensed td,
.table.table--condensed td {
	padding: $baseline/4 $gutter/2;
}

/**
 * Border less table
 */

.table.table--borderLess {
	font-size: rem(12px);
}

.table.table--borderLess thead td {
	padding-bottom: $baseline/2;
}

.table.table--borderLess thead td {
	padding-top: 0;
}	

.table.table--borderLess tbody td {
	padding-top: 0;
	padding-bottom: 0;
}

.table.table--borderLess tfoot td {
	padding-top: $baseline/4;
	padding-bottom: 0;
}	

.table.table--borderLess th:first-of-type,
.table.table--borderLess td:first-of-type {
	padding-left: 0;
}

.table.table--borderLess th:last-of-type,
.table.table--borderLess td:last-of-type {
	padding-right: 0;
}

.table.table--borderLess .table-row {
	border: 0;
}


.table .button {
	height: auto;
	line-height: 1;
}

.responsiveTableWrapper {
	overflow-y: auto;
}

.table-data.table-data--max100 { max-width: 100px; }
.table-data.table-data--max150 { max-width: 150px; }
.table-data.table-data--max200 { max-width: 200px; }
.table-data.table-data--max250 { max-width: 250px; }
.table-data.table-data--max300 { max-width: 300px; }