.tag {
	display: inline-block;
	padding: $baseline/4 $gutter/2;
	background: #f7f7f7;
	font-size: rem(12px);
	border-radius: $borderRadius;
	vertical-align: middle;
	cursor: default;
}

.tag.tag--clickable {
	cursor: pointer;
}

// TODO: remove
.tag.tag--removable:hover .fa {
	color: $color-danger;
}

.tag.tag--yesNo {
	width: rem(52px);
	text-align: center;
}

.tag.tag--primary {
	background: lighten($color-primary, 40%);
	color: $color-primary;
}

.tag.tag--small {
	font-size: rem(10px);
	padding: 0 $gutter/2;
}

// TODO: remove
.tag .fa {
	color: darken(#f7f7f7, 10%);
	font-size: rem(10px);
	margin-right: $gutter/2;
}

.tag.tag--success {
	background: #8ddf8d;
	color: green;
}

.tag.tag--danger {
	background: #df8d8d;
	color: #6c4949;
}

.tag-remove {
	margin-left: $gutter/2;
	cursor: pointer;
}

.tag.tag--circular {
	width: rem(22px);
	height: rem(22px);
	line-height: rem(22px);
	text-align: center;
	padding: 0;
	border-radius: 999px;
}