@function getCalcOffset($offset) {
	@return calc(100% + #{$offset});
}

.tooltip {
	@extend .tooltip--fromTop;
	@extend .tooltip--alignMiddle;

	position: absolute;
	top: auto;
	bottom: getCalcOffset($baseline/2);
	background: $tooltip-bgColor;
	color: $tooltip-color;
	font-size: $fontSize-default;
	white-space: nowrap;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.07);
	border-radius: 3px;
	z-index: $tooltip-zIndex;

	&::after,
	&::before {
		content: "";
		position: absolute;
		right: $gutter;
		display: block;
		width: 0;
		height: 0;
		border: $tooltip-triangleSize solid transparent;
	}
}

.tooltip.tooltip--alignLeft {
	left: 0;
	right: auto;
	transform: none;

	&::after,
	&::before {
		left: $gutter/2;
		right: auto;
		transform: none;
	}
}

.tooltip.tooltip--alignMiddle,
.tooltip.tooltip--alignMiddle::after,
.tooltip.tooltip--alignMiddle::before {
	left: 50%;
	right: auto;
	transform: translateX(-50%);
}

.tooltip.tooltip--alignRight {
	left: auto;
	right: 0;
	transform: none;

	&::after,
	&::before {
		left: auto;
		right: $gutter/2;
		transform: none;
	}
}

.tooltip.tooltip--fromTop {
	top: auto;
	bottom: getCalcOffset($baseline/2);
	margin: 0 0 $baseline/2 0;

	&::after {
		top: auto;
		bottom: -(($tooltip-triangleSize * 2) - 1);
		border-color: $tooltip-bgColor transparent transparent transparent;
	}

	&::before {
		top: auto;
		bottom: -($tooltip-triangleSize * 2);
		border-color: $color-border transparent transparent transparent;
	}
}

.tooltip.tooltip--fromBottom {
	top: getCalcOffset($baseline/2);
	bottom: auto;
	margin: $baseline/2 0 0 0;

	&::after {
		top: -(($tooltip-triangleSize * 2) - 1);
		bottom: auto;
		border-color: transparent transparent $tooltip-bgColor transparent;
	}

	&::before {
		top: -($tooltip-triangleSize * 2);
		bottom: auto;
		border-color: transparent transparent $color-border transparent;
	}
}

.tooltip.tooltip--fromLeft,
.tooltip.tooltip--fromRight,
.tooltip.tooltip--fromLeft::before,
.tooltip.tooltip--fromLeft::after,
.tooltip.tooltip--fromRight::before,
.tooltip.tooltip--fromRight::after {
	top: 50%;
	bottom: auto;
	transform: translateY(-50%);
}

.tooltip.tooltip--fromLeft {
	left: auto;
	right: getCalcOffset($gutter);

	&::before {
		left: auto;
		right: -($tooltip-triangleSize * 2);
		border-color: transparent transparent transparent $color-border;
	}

	&::after {
		left: auto;
		right: -(($tooltip-triangleSize * 2) - 1);
		border-color: transparent transparent transparent $tooltip-bgColor;
	}
}

.tooltip.tooltip--fromRight {
	left: getCalcOffset($gutter);
	right: auto;

	&::before {
		left: -($tooltip-triangleSize * 2);
		right: auto;
		border-color: transparent $color-border transparent transparent;
	}

	&::after {
		left: -(($tooltip-triangleSize * 2) - 1);
		right: auto;
		border-color: transparent $tooltip-bgColor transparent transparent;
	}
}

.tooptip--wrap {
	white-space: normal;
}

.tooltip-body,
.tooltip-padding {
	padding: $baseline/2 $gutter;
}