.grid {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	min-height: 1px; // Prevent collapsing

	@extend .grid--gutters;
}

.grid.grid--alignCenter { align-items: center; }

.grid-cell {
	flex: 1;
}

// TODO: remove this rule
.grid-cell.grid-cell--notFluid {
	flex: 0 0 auto;
}

@mixin makeGridGutters($gutter, $index) {
	@if $index == 3 {
		@include makeGridGutters($gutter, "");
	}

	.grid.grid--gutters#{$index} { margin: 0 (-$gutter); }
	.grid.grid--gutters#{$index} > .grid-cell { padding: 0 $gutter; }
}

@each $index, $grid-cell-gutter in $grid-cell-gutters {
	@include makeGridGutters($grid-cell-gutter, $index);
}

@mixin makeGridCell($width: 100%) {
	flex: 0 0 $width;
	max-width: $width;

	// wkhtmltopdf 0.12.3.2 seems NOT to support "flexbox-basis"
	// As as result grid width is same as its children.
	// Explicitly setting "width" fixes it.  
	@if ($wkhtmltopdf-grid-fix == true) {
		@media print { width: $width; }
	}
}

@mixin makeGridCells($sreenSize: "xs") {
	// Define screen sized dependent modifiers
	.grid.grid--#{$sreenSize}-wrapDefault { flex-wrap: wrap; }
	.grid.grid--#{$sreenSize}-wrapReverse { flex-wrap: wrap-reverse; }
	.grid.grid--#{$sreenSize}-alignItemsCenter { align-items: center; }
	.grid-cell.grid-cell--#{$sreenSize}-fluid { flex: 1; }

	.grid-cell.grid-cell--#{$sreenSize}-notFluid {
		flex: 0 0 auto;
		max-width: inherit;

		@if ($wkhtmltopdf-grid-fix == true) {
			@media print { width: auto; }
		}
	}

	@for $i from 1 through $grid-columns-count {

		$gridCellClassName: ".grid-cell--#{$sreenSize}-#{$i}";
		$gridCellWidth: 100% / $grid-columns-count * $i;

		$gridCellOffsetClassName: ".grid-cell--#{$sreenSize}-offsetBy#{$i}";

		// Grid cell
		#{$gridCellClassName} {
			@include makeGridCell($gridCellWidth);
		}

		// Offset
		#{$gridCellOffsetClassName} {
			margin-left: $gridCellWidth;
		}
	}
}

@each $screenSize, $breakpoint in $screen-breakpoints {
	@if $breakpoint == 0 {
		@include makeGridCells($screenSize);
	}

	@else {
		@media (min-width: $breakpoint) {
			@include makeGridCells($screenSize);
		}
	}
}