.u-mr1 {
	margin-right: $gutter/2;
}

.u-mr2 {
	margin-right: $gutter;
}

.u-mb1 {
	margin-bottom: $baseline/2;
}

.u-mb2 {
	margin-bottom: $baseline;
}

.u-mb3 {
	margin-bottom: $baseline*1.5;  
}

.u-mb4 {
	margin-bottom: $baseline*2;
}

.u-mt1 {
	margin-top: $baseline/2;
}

.u-mt2 {
	margin-top: $baseline;
}

.u-mt3 {
	margin-top: $baseline*1.5;  
}

.u-mt4 {
	margin-top: $baseline*2;
}

.u-textMuted {
	color: #b8b8b8;
}

a.u-textMuted,
.u-textMuted a {
	text-decoration: underline;
}

.unorderedList {
    list-style: disc;
	padding-left: $gutter*2;
}

.unorderedList li {
	margin-bottom: $baseline/4;
}