body {
	color: $color-text;
	font-family: $fontFamily;
	font-size: $fontSize;
	line-height: $line-height;
}

.title,
.headline,
.subHeadline {
	color: $headlines-color;
	font-weight: 400;
	margin: 0;
}

.title {
	font-size: $fontSize-title;
	margin-bottom: $baseline;
}

.headline {
	font-size: $fontSize-headline;
	margin-bottom: $baseline;
}

.subHeadline {
	font-size: $fontSize-subHeadline;
}

.textHighlight {
	background: lighten($color-primary, 40%);
	padding: 0 $gutter/2;
	border-radius: $borderRadius;
}

.fancyLabel {
	font-size: $fontSize-smaller;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.fancyCurrency 	{
	color: #909090;
	font-size: $fontSize-smaller;
	text-transform: uppercase;
}