.addressBox {
	background: $white;
	border: 1px solid $color-border;
	padding: $baseline $gutter;
}

.addressBox iframe {
	margin-bottom: $baseline;
}

.addressBox li:not(:last-of-type) {
	margin-bottom: $baseline/4;
}

.addressBox li:first-of-type {
	margin-bottom: $baseline;
}

.addressBox a {
	color: inherit;
	text-decoration: underline;
}