.button {
	display: inline-block;
	font-size: $button-global-font-size;
	height: $button-global-height;
	line-height: $button-global-height;
	padding: $button-global-padding;
	border: 0;
	border-radius: $button-global-border-radius;
	cursor: pointer;
	box-shadow: none;
	outline: 0;
	vertical-align: middle;
	transition: $button-global-transition;
	text-align: center;
	text-decoration: none;
}

a.button:not(.button--asLink):hover {
	text-decoration: none;
}

%button--unstyled {
	height: auto;
	border: 0;
	padding: 0;
	background: transparent;
	line-height: inherit;
	color: $color-text;
	font-size: $fontSize-default;
}

.button.button--primary {
	color: $button-primary-color;
	background: $button-primary-background;
}

.button.button--primary:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.button.button--primary:not(:disabled):not(.button--outlined):not(.button--borderLess):hover {
	background: lighten($color-primary, 10%);
}

.button.button--primary.button--outlined {
	background: transparent;
	border: 1px solid $color-primary;
	color: $color-primary;
}

.button.button--primary.button--outlined:not(:disabled):hover {
	color: darken($color-primary, 5%);
	border-color: darken($color-primary, 5%);
}

.button.button--primary.button--borderLess {
	color: $color-primary;
}

/**
 * Modifier: secondary
 */

.button.button--secondary {
	background: $color-border;
	color: lighten($color-text, 10%);
}

.button.button--secondary:disabled {
	opacity: 0.4;
	cursor: not-allowed;
}

.button.button--secondary:not(:disabled):not(.button--outlined):not(.button--borderLess):hover {
	background: lighten($color-border, 2%);
}

.button.button--secondary.button--outlined {
	background: transparent;
	border: 1px solid $color-border;
	color: darken($color-border, 20%);
}

.button.button--secondary.button--outlined:not(:disabled):hover {
	border-color: darken($color-border, 10%);
	color: darken($color-border, 30%);
}

.button.button--secondary.button--borderLess {
	color: lighten($color-text, 25%);
}

.button.button--secondary.button--borderLess:not(:disabled):hover {
	color: lighten($color-text, 15%);
}


.button.button--danger {
	background: $button-danger-background;
	color: $white;
}

.button.button--danger.button--outlined {
	background: transparent;
	color: $button-danger-background;
	border: 1px solid $button-danger-background;
}

.button.button--danger.button--outlined:hover {
	color: darken($button-danger-background, 5%);
	border-color: darken($button-danger-background, 5%);
}

.button.button--danger.button--borderLess {
	color: $button-danger-background;
}


.button.button--success {
	background: $button-success-background;
	color: $white;
}

.button.button--success.button--outlined {
	background: transparent;
	color: $button-success-background;
	border: 1px solid $button-success-background;
}

.button.button--success.button--outlined:hover {
	color: darken($button-success-background, 5%);
	border-color: darken($button-success-background, 5%);
}

.button.button--success.button--borderLess {
	color: $button-success-background;
}

.button.button--warning {
	background: $button-warning-background;
	color: $white;
}

.button.button--warning.button--outlined {
	background: transparent;
	color: $button-warning-background;
	border: 1px solid $button-warning-background;
}

.button.button--warning.button--outlined:hover {
	color: darken($button-warning-background, 5%);
	border-color: darken($button-warning-background, 5%);
}

.button.button--warning.button--borderLess {
	color: $button-warning-background;
}

.button.button--borderLess {
	background: transparent;
	border: 0;
	padding: 0;
}

.button.button--borderLess:hover {
	background: transparent;
}

.button--lightIcon {
	@extend %button--unstyled;
	color: $color-lightIcon;
	font-size: rem(17px);
}

.button--lightIcon:hover {
	color: darken($color-lightIcon, 10%);
}

.button.button--circular {
	width: rem(40px);
	height: rem(40px);
	padding: 0;
}

.button.button--primary:not(.button--outlined).button--circular {
	border: 0;
}

.button.button--symmetricalIcon {
	width: rem(40px);
	height: rem(40px);
	padding: 0;
} 

.button.button--bigger {
	font-size: rem(15px);
}

.button.button--fullWidth {
	display: block;
	width: 100%;
}


.button.button--asLink {
	height: auto;
	line-height: inherit;
	background: transparent;
	padding: 0;
}


.button.button--asLink.button--smaller {
	font-size: rem(11px);
}

.button.button--unstyled {
	@extend %button--unstyled;
}

/**
 * Button group
 * Deprecate this => figure out how to use something more general
 */
.buttonGroup > .button:not(:last-of-type) {
	margin-right: $gutter/2;
}

.buttonGroup > form { // tmp
	display: inline-block;
}
