.clickBox {
	display: flex;
	align-items: center;
	color: inherit;
	background: $white;
	padding: $baseline $gutter*2;
	border: 1px solid transparent;
	border-radius: $borderRadius;
	transition: .2s ease box-shadow, .2s ease border-color, .1s ease transform;
	text-decoration: none;
}

.clickBox:hover {
	box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.07);
	border-color: rgba(0,0,0,.1);
	text-decoration: none;
}

.clickBox:active {
	transform: scale(0.99);
}

.clickBox-image {
	max-height: rem(65px);
	max-width: rem(65px);
}

.clickBox-image:first-child {
	margin-right: $gutter*3;
}

.clickBox p:last-child {
	margin-bottom: 0;
}

@media (max-width: 800px) {
	.clickBox {
		border-color: $color-border;	
	}
}