$react-dates-color-primary: $color-primary;
$react-dates-color-primary-dark: $body-background;
$react-dates-color-border: $color-border;
$react-dates-color-placeholder-text: $color-text;
$react-dates-color-text-focus: $color-text;
$react-dates-color-focus: $body-background;

.SingleDatePicker {
	display: block;
}

.SingleDatePickerInput {
	@extend .formControl;

	padding: 0;
}

.DateInput {
	font-size: $fontSize-default;
	padding: $baseline/8 $gutter/2;
	width: 100%;
}