.container.container--login {
	text-align: center;
	max-width: 400px;
	padding-top: $baseline*4;
}

.container.container--login .logo img {
	display: inline-block;
	width: rem(120px);
}

.loginCard {
	@extend .card;
}

.loginCard .formGroup {
	text-align: left;
}
