@import "../common/variables";

/**
 * Body
 */

$body-bg: #f7f7f7 !default;

/**
 * Container
 */

$container-width: 1220px !default;

/**
 * Responsive screen sizes
 */

$screen-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

/**
 * Typo
 */

$fontFamily-sansSerif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$fontFamily: "Open Sans", $fontFamily-sansSerif !default;

$fontSize-title: rem(22px) !default;
$fontSize-headline: rem(18px) !default;
$fontSize-subHeadline: rem(16px) !default;
$fontSize-default: rem(13px) !default;
$fontSize-small: rem(12px) !default;
$fontSize-smaller: rem(10px) !default;

/**
 * Vertical spacing
 */

$baseline : rem(23px) !default;

$spacers-y: (
	0: 0,
	1: ($baseline * 0.25),
	2: ($baseline * 0.5),
	3: $baseline,
	4: ($baseline * 1.5),
	5: ($baseline * 3),
) !default;

$line-height: $baseline / $fontSize-default;

/**
 * Horizontal spacing
 */

$gutter: rem(12px);

$borderRadius: 2px !default;
$borderRadius-button: 999px !default;

/**
 * Grid
 */

$grid-columns-count: 12 !default;
$grid-cell-gutter: $gutter !default;

$grid-cell-gutters: (
	0: 0,
	1: ($grid-cell-gutter * 0.25),
	2: ($grid-cell-gutter * 0.5),
	3: $grid-cell-gutter,
	4: ($grid-cell-gutter * 1.5),
	5: ($grid-cell-gutter * 3),
) !default;

/**
 * Sidebar nav
 */

$sidebar-width: 150px !default;

/**
 * Z indexes
 */

$zIndex-1: 1;
$zIndex-2: 2;
$zIndex-3: 3;
$zIndex-4: 4;
$zIndex-5: 5;
$zIndex-6: 6;
$zIndex-7: 7;
$zIndex-8: 8;
$zIndex-9: 9;

/**
 * Buttons
 */

$button-primary-background: $color-primary !default;

$button-secondary-background: #ccc !default;

$button-success-background: $color-success !default;

$button-warning-background: $color-warning !default;

$button-danger-background: $color-danger !default;

/**
 * Headlines
 */

$headlines-color: #484848 !default;

/**
 * Header
 */

$header-bg: $white !default;
$header-zIndex: $zIndex-5 !default;
$header-logo-width: 75px !default;

/**
 * Cards
 */

$card-header-bg: $body-bg !default;

/**
 * Inputs
 */

$input-height: $baseline * 2;

/**
 * Transitions
 */

$transition-type: ease !default;
$transition-duration: 0.2s !default;


$dropdown-triangleSize: 8px !default;