/**
 * Colors
 */
$white: #fff;

$color-primary  : #f80;
$color-border   : #e0e0e0;
$color-lightIcon: #ccc;
$color-text     : #3e3e3e;

$color-success: green;
$color-warning: #f0ad4e;
$color-danger:  #d33226;